BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
#AllowShortIfStatementsOnASingleLine: true
#AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
#AllowShortLoopsOnASingleLine: true
ColumnLimit: 200
SpaceBeforeParens: Never

# --- prevent comment wrapping/reflow ---
ReflowComments: false
CommentPragmas: '^/\*\*|\s*\*|^///|^//'
