BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 200
SpaceBeforeParens: Never

# --- prevent comment wrapping/reflow ---
ReflowComments: false
CommentPragmas: '^/\*\*|\s*\*|^///|^//'
